
<%- include("partials/head") %>


    <%- include("partials/navbar") %>
    <h1>The Home Page <%= 4 + 5 + 1%> <%= "hello world".toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati fugit, dolore soluta corrupti distinctio
        officiis omnis autem placeat suscipit, rem dolores. Quasi quibusdam, cupiditate inventore aperiam enim commodi
        velit minima?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, facere. Quia, sequi? Exercitationem animi illum
        dolorum beatae possimus vitae asperiores quisquam eius molestias repellat rem, excepturi quaerat doloribus
        repudiandae magni!</p>
        <%- include("partials/footer") %>